{% extends 'admin/base-admin.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <section class="container mt-4">
        <a href="{{ path('admin_category_index') }}" class="btn btn-secondary">Retour à la liste</a>

        <h1>Catégorie: {{ category.name }}</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ category.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex gap-1">
            <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-info">Modifier</a>
            {{ include('admin/category/_delete_form.html.twig') }}
        </div>

    </section>
{% endblock %}
